@import '';

/* /Pages/CustomNotFound.razor.rz.scp.css */
.customNotFound[b-2cxffuhyjp] {
	text-align: center;
	color: red;
	font-size: 35px;
	box-shadow: 1px 1px 1px grey;
}
/* /Pages/Index.razor.rz.scp.css */
.center[b-5vsh8vvzr0] {
    margin-left: auto;
    margin-right: auto;
}

/*https://stackoverflow.com/questions/7455362/how-to-center-a-table-of-the-screen-vertically-and-horizontally/7455747*/
.box[b-5vsh8vvzr0] {
    width: 300px;
    height: 300px;
    /* background-color: #d9d9d9;*/
    position: fixed;
    margin-left: -150px; /* half of width */
    margin-top: -150px; /* half of height */
    top: 50%;
    left: 50%;
}
/* /Shared/MainLayout.razor.rz.scp.css */
.page[b-4uytdoflkm] {
    position: relative;
    display: flex;
    flex-direction: column;
}

.main[b-4uytdoflkm] {
    flex: 1;
}

.sidebar[b-4uytdoflkm] {
    background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);
}

.top-row[b-4uytdoflkm] {
    background-color: #f7f7f7;
    border-bottom: 1px solid #d6d5d5;
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;
}

    .top-row[b-4uytdoflkm]  a, .top-row .btn-link[b-4uytdoflkm] {
        white-space: nowrap;
        margin-left: 1.5rem;
    }

    .top-row a:first-child[b-4uytdoflkm] {
        overflow: hidden;
        text-overflow: ellipsis;
    }

@media (max-width: 767.98px) {
    .top-row:not(.auth)[b-4uytdoflkm] {
        display: none;
    }

    .top-row.auth[b-4uytdoflkm] {
        justify-content: space-between;
    }

    .top-row a[b-4uytdoflkm], .top-row .btn-link[b-4uytdoflkm] {
        margin-left: 0;
    }
}

@media (min-width: 768px) {
    .page[b-4uytdoflkm] {
        flex-direction: row;
    }

    .sidebar[b-4uytdoflkm] {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row[b-4uytdoflkm] {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .main > div[b-4uytdoflkm] {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}
/* /Shared/NavMenu.razor.rz.scp.css */
.navbar-toggler[b-cegozqquny] {
    background-color: rgba(255, 255, 255, 0.1);
}

.top-row[b-cegozqquny] {
    height: 3.5rem;
    background-color: rgba(0,0,0,0.4);
}

.navbar-brand[b-cegozqquny] {
    font-size: 1.1rem;
}

.oi[b-cegozqquny] {
    width: 2rem;
    font-size: 1.1rem;
    vertical-align: text-top;
    top: -2px;
}

.nav-item[b-cegozqquny] {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
}

    .nav-item:first-of-type[b-cegozqquny] {
        padding-top: 1rem;
    }

    .nav-item:last-of-type[b-cegozqquny] {
        padding-bottom: 1rem;
    }

    .nav-item[b-cegozqquny]  a {
        color: #d7d7d7;
        border-radius: 4px;
        height: 3rem;
        display: flex;
        align-items: center;
        line-height: 3rem;
    }

.nav-item[b-cegozqquny]  a.active {
    background-color: rgba(255,255,255,0.25);
    color: white;
}

.nav-item[b-cegozqquny]  a:hover {
    background-color: rgba(255,255,255,0.1);
    color: white;
}

@media (min-width: 768px) {
    .navbar-toggler[b-cegozqquny] {
        display: none;
    }

    .collapse[b-cegozqquny] {
        /* Never collapse the sidebar for wide screens */
        display: block;
    }
}
