@page "/sockettest"
@using System.Net.WebSockets

<h1>Echo test</h1>
<h3>State: @webSocket.State</h3>

@if (webSocket.State == WebSocketState.Open)
{
    <form @onsubmit="@SendMessageAsync">
        Message: <input @bind="@_message" />
        <button type="submit">Send</button>
    </form>

    <pre>@_log</pre>
}