@if (Users.Any())
{
    <table class="table">
        <thead>
            <tr>
                <th scope="col">User</th>
                <th scope="col">Privilegate user</th>             
                <th scope="col">Delete user</th>                
            </tr>
        </thead>
        <tbody>
            @foreach (var user in Users)
            {
                <tr>
                    <td class="align-middle">
                        @user.Email
                    </td>
                    <td class="align-middle">                        
                        @*https://blazor.radzen.com/switch*@
                        <RadzenSwitch @bind-Value=@user.Priviledged Style="margin-bottom: 20px" Change=@(args => OnChange(args, user)) />
                    </td>                   
                    <td class="align-middle">
                        <button type="button" class="btn btn-danger"
                                @onclick="() => CallConfirmationModal(user)" disabled="@(LoggedUser == user.Email)">
                            Delete User
                        </button>
                    </td>                   
                </tr>
            }
        </tbody>
    </table>
    <Confirmation BodyMessage="Do you want to delete this user?"
                  OnOKClicked="DeleteUser" @ref="_confirmation" />
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th scope="col">User</th>
                <th scope="col">Privilegate user</th>               
                <th scope="col">Delete user</th>      
            </tr>
        </thead>
    </table>
    <span>
        Loading users...
    </span>
}
